<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
<bean id="a" class="com.java.A" depends-on="b"/>
<bean id="b" class="com.java.B" depends-on="c"/>
<bean id="c" class="com.java.C" />
</beans>